body{
  font-family: roboto;
  padding: 0;
  margin: 0;
}

header{
  background-color: rgb(19,25,33);
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  height: 60px;
}
