.left-section, .middle-section, .right-section{
  display: grid;
  flex-direction: row;
  border: 1px solid red;
  height: 100%;
}


.left-section div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-section div img{
  height: 10%;
}


.middle-section div button{
  height: auto;
}
.middle-section div button img{
  height: 10opx;
}



.right-section{
  grid-template-columns: 1fr 1fr 1fr;
}